<template>
  <div id="app">
    <clase> </clase>
  <clase> </clase>
    
  </div>
</template>

<script>

import clase from './components/clase.vue'


export default {
  name: 'app',
  components: {
    clase
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
