<template>
  <div class="about" >
    
    <h1>Campamento Jupiter</h1>
    <br>
    <img src="../assets/logo.jpg">

    <h3>
      El campamento Júpiter es un campamento designado para proteger y entrenar a los hijos de los dioses romanos y sus descendientes. Su entrada es un túnel de servicio cerca del túnel principal de Caldecott en las colinas de Oakland, cerca de San Francisco. Los pretores actuales son Hazel Levesque y Frank Zhang. Es la contraparte romana del Campamento Mestizo. </h3>
  
  <el-carousel indicator-position="outside">
    <el-carousel-item v-for="item in catalogo" :key="item" :style="{'background-color': '#ffffff'}">
      <div :style="{'background-image': item.img}">
        <img :src=" item.img" alt="" width="75%" height="80%">
      </div>
    </el-carousel-item>
  </el-carousel>
  </div>

   

</template>

<script>
  export default {
    data() {
      return {
        catalogo: [
          { img: "https://static.planetminecraft.com/files/resource_media/screenshot/1837/cj-templehill-1536677049.png"},
          { img: "https://camphalfbloodbklyn.com/wp-content/uploads/2019/01/Mobile-Music-Divison-e1547241393603.jpg"},
          { img: "http://2.bp.blogspot.com/-TGNEEen6Lxs/UjmF_0rF-2I/AAAAAAAACuE/_LDE3GOuo-o/s320/Camp+Jupiter+Archery+champion-1.JPG"},
          { img: "http://1.bp.blogspot.com/-Z5X4hGrExP4/UjmGWf6bgFI/AAAAAAAACuU/G7c81Ulzl1E/s1600/We+had+a+mummy+problem.JPG"},
        ]
      }
    }
  }
</script>

<style>
  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }

 /* .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }*/
</style>