<template>
  <div class="home">
    <h1>CAMPAMENTO JUPITER</h1>

    
  <el-table
    :data="tableData"
    height="250"
    style="width: 100%">
    <el-table-column
      prop="cabain"
      label="cabaña"
      width="180">
    </el-table-column>
    <el-table-column
      prop="name"
      label="Nombre"
      width="180">
    </el-table-column>
    <el-table-column
      prop="address"
      label="Dirección">
    </el-table-column>
    
  </el-table>
  <br>
  <br>

  <el-form ref="formulario" :model="formulario" label-width="120px">
      <el-form-item label="cabaña">
        <el-input v-model="formulario.cabain"></el-input>
      </el-form-item>
      <el-form-item label="Nombre">
        <el-input v-model="formulario.name"></el-input>
      </el-form-item>
      <el-form-item label="Direccion">
        <el-input v-model="formulario.address"></el-input>
      </el-form-item>
      <el-form-item v-if="validar">
        <el-button type="primary" @click="guardar">Guardar</el-button>
      </el-form-item>
      <br>
      <br>
    </el-form>


  </div>
</template>





<script>
// @ is an alias to /src
export default {
  name: "home",
  components: {},
    data() {
      return {
        tableData: [
          {
          cabain: '5',
          name: 'Reina Ramirez',
          address: 'Nueve Roma, CALIFORNIA'
        }, 
        {
          cabain: '2',
          name: 'Jason Grace',
          address: 'Nueve Roma, CALIFORNIA'
        }, 
        {
          cabain: '4',
          name: 'Hazel Levesque',
          address: 'UNDERWOOD'
        }, 
        {
          cabain: '1',
          name: 'Frank Zhang',
          address: 'Nueve Roma, CALIFORNIA'
        }, 
        {
          cabain: '8',
          name: 'polux dionsus',
          address: 'LONG ISLAND, NEW YORK'
        }, 
        {
          cabain: '6',
          name: 'Annabeth Chase',
          address: 'LONG ISLAND, NEW YORK'
        }, 
        {
          cabain: '7',
          name: 'Percy Jackson',
          address: 'LONG ISLAND, NEW YORK'
        }],
     

     info: {},
      formulario: {
        cabain: "",
        name: "",
        address: ""
      },
      search: ''
    };
  },
  methods: {
    
    guardar: function() {
      this.tableData.push(this.formulario);
      this.formulario = {};
    }
  },
  computed: {
    validar() {
      return this.formulario.name != "" && this.formulario.cabain > 0;
    }
     }
    };


</script>
