<template>
  <div class="home">
    <h1> inventario </h1>
    <el-row> 
      <el-col :span="12" class="cl1"> 
        <h2> PRODUCTO</h2> 

        <el-table 
        :data="lista"
        style= "width:100%">  

          <el-table-colum label="nombre"> 

          </el-table-colum>
        </el-table>
      </el-col>
      <el-col :pan="12" class="col2"> 
        <h2> -- </h2> 
      </el-col>

    </el-row>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
  components: {
    
  }
}
</script>

<style lang="css">
  .col { 
    background-color: crimson
    min-height: 500px; 
  }

  .col2{ 
    background-color: blue 
    min-height: 500px; 
  }

</style>
