<template>
  <div class="home">
    <h1>INVENTARIO</h1>

    <el-table  :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))" height="250" style="width: 100%">
      <el-table-column prop="id" label="ID" width="180"></el-table-column>
      <el-table-column prop="name" label="Nombre" width="180"></el-table-column>
      <el-table-column prop="cost" label="Precio" width="180"></el-table-column>
      <el-table-column prop="description" label="Descripcion"></el-table-column>
      <el-table-column>
         <template slot="header" >
        <el-input
          v-model="search"
          size="large"
          placeholder="Type to search"/>
      </template>
      </el-table-column>
    </el-table>

    <el-form ref="formulario" :model="formulario" label-width="120px">
      <el-form-item label="ID">
        <el-input v-model="formulario.id"></el-input>
      </el-form-item>
      <el-form-item label="Nombre">
        <el-input v-model="formulario.name"></el-input>
      </el-form-item>
      <el-form-item label="Precio">
        <el-input v-model="formulario.cost"></el-input>
      </el-form-item>
      <el-form-item label="Descripcion">
        <el-input v-model="formulario.description"></el-input>
      </el-form-item>
      <el-form-item v-if="validar">
        <el-button type="primary" @click="guardar">Guardar</el-button>
      </el-form-item>
    </el-form>

    
      
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "home",
  components: {},
  data() {
    return {
      tableData: [
        {
          id: 111,
          name: "zapatos",
          cost: "25.99",
          description: "amarillos y muy bonitos"
        },
        {
          id: 111,
          name: "sandalias",
          cost: "25.99",
          description: "kk"
        },
        {
          id: 11,
          name: "zapatillas",
          cost: "25.99",
          description: "comodas"
        },
        {
          id: 181,
          name: "botas",
          cost: "15.99",
          description: "muy bonitos"
        },
        {
          id: 911,
          name: "botas largas",
          cost: "25.99",
          description: "botas tipo aricangreja"
        },
        {
          id: 111,
          name: "zapatos",
          cost: "25.99",
          description: "amarillos y muy bonitos"
        },
        {
          id: 111,
          name: "zapatos",
          cost: "25.99",
          description: "amarillos y muy bonitos"
        }
      ],
       
      info: {},
      formulario: {
        id: "",
        name: "",
        cost: "",
        description: ""
      },
      search: ''
    };
  },
  methods: {
    
    guardar: function() {
      this.tableData.push(this.formulario);
      this.formulario = {};
    }
  },
  computed: {
    validar() {
      return this.formulario.name != "" && this.formulario.cost > 0;
    }
  }
};
</script>
